@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&family=Roboto+Mono&display=swap');



.tableContainer {
  max-width: 600px;
  margin: auto;
  font-family: 'Lato';
}

.tableHeader {
  text-align: center;
  color: black;
}

.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table thead {
  background: #f2f2f2;
}

.table th, .table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 20px 0;
  justify-content: center;
}

.paginationItem {
  margin: 0 5px;
  padding: 8px 12px;
  background-color: #a100ffdb;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.paginationItem:hover {
  background-color: rgba(191, 102, 243, 0.9);
}

.active {
  background-color: #8a00da;
}

.employeeListContainer {
  margin-top: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  font-family: 'Lato';
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

.employeeTable {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Lato';
}

.employeeTable th,
.employeeTable td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.employeeTable th {
  background: #f2f2f2;
}

.closeButton {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: #c70000;
  ;
}

.tableContainer .assignButton {
  color: #c70000;
  padding: 4px 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: none;
}

.assignEmployee {
  color: #a100ffdb;
  padding: 4px 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: none;
  position: relative;
  transition: color 0.3s ease; 
}

.assignEmployee::before {
  content: '';
  position: absolute;
  width: 0;
  height: 1.5px; 
  bottom: 0;
  left: 0;
  background-color: #a100ffdb;
  transition: width 0.3s ease; 
}

.assignEmployee:hover::before {
  width: 100%; 
}


.employeeSkills {
  font-family: 'Lato';
  display: inline-block;
  padding: 5px;
  margin: 2px;
  color: rgb(161, 0, 255);
  border-radius: 3px;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #af10af;
}

.messageBox {
  background-color: powderblue;
  color: #721c24;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.messageBox h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.messageBox ul {
  list-style: none;
  padding: 0;
}

.messageBox li {
  font-size: 14px;
  margin-bottom: 5px;
}

.messagesButton {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.messagesButton:hover {
  background-color: #0056b3;
}

.rejectButton {
  background: red;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}