
.mainContainer{
  font-family: system-ui;
}

.login-container, .register-container, .cv-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login, .register {
  background-color: #0000002b;
  border: 1px solid #ced4da;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.loginTitle, .registerTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
  text-align: center;
}

.loginForm, .registerForm {
  display: flex;
  flex-direction: column;
}


input{
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 16px;
}

.loginButton, .registerButton {
  background-color: #A100FF;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #8800ff
}

.registerButton:hover {
  background-color: #8800ff
}

.signup-link {
  text-align: center;
  margin-top: 20px;
}

.signup-link a {
  color: #A100FF;
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
}
