@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&family=Roboto+Mono&display=swap');

body{
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
}

.li {
  margin-left: 20px;
}

.Link a {
  text-decoration: none;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #007acc;
  transition: background-color 0.3s ease;
}

.Link:hover a {
  background-color: #005b9d;
}

.mainContainer{
  font-family: system-ui;
}

.loginContainer, .registerContainer, .cvContainer {
  margin-top: -5%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 100vh;
  flex-grow: 1;
}


.login, .register {
  padding: 30px;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
}


.loginTitle, .registerTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
  text-align: center;
  font-family: 'Lato', sans-serif;
font-family: 'Roboto Mono', monospace;
}


.loginForm, .registerForm {
  display: flex;
  flex-direction: column;
}


input{
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 16px;
}


.loginButton, .registerButton {
  background-color: #A100FF;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}


.loginButton:hover {
  background-color: #8800ff
}


.registerButton:hover {
  background-color: #8800ff
}

.signupLink {
  text-align: center;
  margin-top: 20px;
}

.signupLink a {
  color: #A100FF;
  text-decoration: none;
  font-weight: bold;
}

.signupLink a:hover {
  text-decoration: underline;
}

.registerInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.checkboxContainer {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px; 
}

.checkbox-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.h2{
  color: #A100FF;
  font-family: 'Lato', sans-serif;
text-align: center;
}

.projectBox {
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 300px;
  box-shadow: 0px 2px 5px rgb(161 0 255 / 15%);
  transition: transform 0.3s ease; 
}

.projectBox:hover {
  transform: scale(1.1);
}

.pdfButton{
  display: inline-block;
  padding: 10px;
  background-color: white;
  color: #A100FF;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.projectDetails {
 text-align: center;
 display: grid;
}


.projectDetails a:hover {
  text-decoration: underline;
}

.Headline{
  text-align: center;
  font-family: 'Lato';
}


