body {
  /* background-color: antiquewhite; */
}
.container {
  position: absolute;
  left: 39%;
  top: 23%;
}
#header {
  position: relative;
  left: 42%;
  margin-top: 9%;
}


.input {
  width: 170%;
  margin-top: 10px;
  height: 45px;
  color: black;
  border-radius: 5px;
  border: 1px solid grey;
}

.input[placeholder] {
  font-size: 1em;
  text-indent: 9px;
}

#submitButton {
  width: 172%;
  background: #3283ff;
  color: white;
  font-size: 1.3em;
  cursor: pointer;
}

#submitButton:hover {
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
  background-color: #0069d9;
  border-color: #0062cc;
  transition: 0.2s all;
}

#loginLink {
  position: absolute;
  left: 41.5%;
  top: 60%;
}

#loginLink a {
  color: #040604;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

#loginLink a:hover {
  color: #2b2c2d;
  text-decoration: underline;
}

.signUpMessage {
  position: absolute;
  width: 300px;
  top: -20%;
}

.loginButton, .registerButton {
  background-color: #A100FF;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
