@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&family=Roboto+Mono&display=swap');
  
  

  
  .Headline{
    text-align: center;
    font-family: 'Lato';
  }
  
  .projectsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .projectsTable th,
  .projectsTable td {
    border: 1px solid #ddd;
    padding: 12px;
  }
  
  .projectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #a100ff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: #b64af5;
  }
  
  .active {
    background-color: #4d94ff;
    color: white;
  }
  
  .updateButton {
    background-color: #a100ff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .updateButton:hover {
    background-color: #b64af5e1;
  }


.projectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projectsTable {
  width: 70%;
  border-collapse: collapse;
  font-family: 'Lato';
}

.tableRow {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tableRow:hover {
  background-color: rgba(191, 102, 243, 0.9); 
}

.projectTitle {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.detailsButton {
  background-color: #a100ff; 
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.detailsButton:hover {
  background-color: #b64af5e1;
}
