@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&family=Roboto+Mono&display=swap');

.singleProject {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.projectTitle {
  color: #a100ff;
  font-size: 32px;
  font-family: 'Lato';
}


.projectDetails {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: 'Lato';
}


.pdfContainer {
  display: flex;
  align-items: center;
  margin: 15px 0;
}


.viewPdfLink {
  color: #a100ff;
  text-decoration: none;
  font-size: 18px;
}

.viewPdfLink:hover {
  text-decoration: underline;
}

.deleteButton {
  background-color: #dc3545;
  color: #fff;
  padding: 6px 12px; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px; 
  margin-top: 20px;
}

.deleteButton:hover {
  background-color: #c82333;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #af10af;
}

.requestButton {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  width: 31%;
  position: relative;
  left: 33%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2em;
}

.requestButton:hover {
  background-color: #45a049;
}

.requestButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;

}
